*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #606060;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 1rem 0;*/
    height: 8svh;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
    margin: 0 42px;
    min-width: 100px;
    max-width: 400px;
}

.logo {
    font-family: 'Six Caps', sans-serif;
    color: #A46456;
    font-size: 3rem;
    padding-bottom: .5rem;
}

.input-text {
    height: 42px;
    width: 100%;
    border-radius: 8px;
    border: none;
    border: 1px solid rgb(211, 211, 211);
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/
    padding: 1rem;
}

.mobile-version {
    display: flex;
    align-items: center;
}

.desktop-version {
    display: none;
}

.burger-menu {
    font-size: 3rem;
    color: #A46456;
}

/*-------------------------------HERO SECTION---------------------------*/

.hero {
    height: 92svh;
    display: flex;
    align-items: center;
}

.hero-container {
    margin: 2rem 0;
}

.hero-image {
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cta-container {
    position: relative;
    height: 300px;
}

.costuras,
.criativas {
    font-family: 'Six Caps', sans-serif;
    color: #A46456;
    font-size: 7rem;
    line-height: 7rem;
}

.costuras {
    transform: rotate(270deg);
    position: absolute;
    left: -4rem;
    top: 5rem;
}

.criativas {
    position: absolute;
    left: 6.5rem;
    color: #FFF;
    text-shadow: -1px -1px 0 #A46456, 1px -1px 0 #A46456, -1px 1px 0 #A46456, 1px 1px 0 #A46456;
    top: 1rem;
}

.cta-container p {
    position: absolute;
    top: 9rem;
    left: 7rem;
    font-size: 12px;
}

.cta-container button {
    background-color: #A46456;
    position: absolute;
    top: 16rem;
    height: 42px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

/*-------------------------------CATEGORIES--------------------------------*/

.categories-section {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: #272727;
    color: white;
    padding: 2rem 0;
}

.title {
    font-size: 2rem;
}

.categories-container {
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
}

.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 15px;
    margin: 1rem auto 0 auto;
    max-width: 450px;
}

.category-item {
    background-color: #606060;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    height: 150px;
}








/*-------------------------------PRODUCTS--------------------------------*/

.product-section {
    padding: 2rem 0;
}

.product-tabs {
    padding: 2rem 0 2rem 0;
}

.product-tabs ul {
    height: 42px;
    margin: 0 auto;
    max-width: 450px;
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
}

.category-tab,
.filter-tab {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.products-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    gap: 10px;
}

.product-item {
    border: 1px solid #d5d5d5;
}

.product-thumb {
    background-color: grey;
    height: 140px;
    width: 100%;
}

.product-name, .product-price {
    margin: .5rem 1rem;
}

.product-name {
    font-weight: normal;
    font-size: 14px;
}

.product-price {
    font-weight: bold;
}

/*------------------------------------------FOOTER--------------------------------------*/

.footer-section {
    padding: 2rem 0;
}

.newsletter-form label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.newsletter-form input {
    height: 42px;
    width: calc(100% - 6rem);
    max-width: 300px;
    border-radius: 8px 0 0 8px;
    border: none;
    border: 1px solid #d5d5d5;
    padding: 0 1rem;
}

.newsletter-form button {
    height: 42px;
    width: 6rem;
    background-color: #A46456;
    border: none;
    border-radius: 0 8px 8px 0;
    color: #FFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.footer-content {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-content h3 {
    font-size: 18px;
}

.footer-content p {
    font-size: 14px;
}

.privacy-policies, .socials {
    width: 200px;
}

.privacy-policies h3,
.socials h3 {
    text-transform: capitalize;
    margin: 1rem 0;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 32px;
    height: 32px;
}

@media (max-width: 359px) {
    
    .costuras,
    .criativas {
        position: static;
        font-size: 23vw;
        line-height: 4rem;
        display: inline;
    }

    .costuras {
        transform: rotate(0);
        margin-right: .5rem;
    }

    .cta-container p {
        position: static;
        margin: 1rem 0;
    }

    .cta-container button {
        position: static;
    }
}

@media (min-width: 390px) {

    .hero-container {
        width: 100%;
    }

    .hero-image {
        max-width: 240px;
    }

    .costuras,
    .criativas {
        font-size: 8rem;
    }

    .costuras {
        left: -5rem;
        top: 4rem;
    }

    .criativas {
        top: -1rem;
    }

    .cta-container {
        font-size: 14px;
        width: 350px;
        margin: 0 auto;
    }

    .cta-container p {
        top: 8rem;
    }
}

@media (min-width: 500px) {

    /*.hero {
        height: unset;
    }*/

    .hero-image {
        width: 240px;
    }

    .hero-container {
        margin: 0 auto;
    }
}

@media (min-width: 720px) {

    /*.hero {
        height: calc(100vh - 8rem);
    }*/

    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        margin: 6rem 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 300px;
    }

    /*CATEGORIES*/
    .categories-list {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 640px;
    }

    /*PRODUCTS*/

    .product-section {
        position: relative;
        left: calc(-50vw + 50%);
        background-color: #F5EFEC;
        width: 100vw;
    }

    .product-container {
        background-color: #FFF;
        margin: 0 auto;
        padding: 0 2rem 2rem 2rem;
        width: 90%;
    }

    .products-list {
        max-width: 600px;
    }

    .product-thumb {
        min-height: 250px;
    }

}

@media (min-width: 920px) {

    /*HEADER*/
    .mobile-version {
        display: none;
    }

    .desktop-version {
        display: initial;
    }

    .nav-menu-list {
        list-style: none;
        display: flex;
    }

    .nav-menu-item {
        padding: 1rem;
        text-transform: capitalize;
    }

    /*HERO*/

    .hero-container {
        margin: 3rem 0;
    }

    .hero-image {
        max-width: 400px;
    }

    .costuras,
    .criativas {
        font-size: 9rem;
        line-height: 6rem;
    }

    .costuras {
        left: -5.3rem;
    }

    .criativas {
        left: 7.5rem;
    }

    .cta-container {
        width: 400px;
    }

    .cta-container p {
        top: 7.5rem;
        left: 8rem;
        font-size: 15px;
        line-height: calc(15px * 1.5);
    }

    /*PRODUCTS*/

    .product-container {
        max-width: 90%;
    }

    .products-list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 10px;
        max-width: 900px;
    }

    .product-section {
        position: relative;
        left: calc(-50vw + 50%);
        background-color: #F5EFEC;
        width: 100vw;
    }

    .product-container {
        background-color: #FFF;
        margin: 0 auto;
        padding: 0 2rem 2rem 2rem;
    }

    .product-item {
        height: 350px;
    }

    .product-thumb {
        height: 200px;
    }

    /*FOOTER*/
    .footer-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .footer-content {
        width: 100%;
        max-width: 50%;
        padding: 0;
    }

    .privacy-policies h3,
    .socials h3 {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    /*HERO*/
    .costuras,
    .criativas {
        font-size: 11rem;
    }

    .costuras {
        left: -5.4rem;
        top: 5.5rem;
    }

    .criativas {
        left: 10.5rem;
    }

    .cta-container {
        width:500px;
    }

    .cta-container p {
        top: 8rem;
        left: 11rem;
    }

    .cta-container button {
        right: 0;
        width: calc(100% - 10.5rem)
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 450px;
    }
}

@media (min-width: 1240px) {
    /*HERO*/
    .costuras,
    .criativas {
        font-size: 14rem;
    }

    .costuras {
        left: -8.4rem;
        top: 7rem;
    }

    .criativas {
        left: 12rem;
    }

    .cta-container {
        width:600px;
    }

    .cta-container p {
        top: 11rem;
        left: 12rem;
        font-size: 18px;
        line-height: calc(18px * 1.5);
    }

    .cta-container button {
        top: 20rem;
        right: 0;
        width: calc(100% - 12rem)
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 500px;
    }

    .hero-container {
        margin: 0;
    }
}