*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #606060;
}

a {
    text-decoration: none;
    color: #606060;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 8svh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 5%;
}

.header-search-bar {
    width: 100%;
    /*margin: 0 42px;*/
    margin: 0 1rem;
    min-width: 100px;
    max-width: 400px;
}

.logo {
    font-family: 'Six Caps', sans-serif;
    color: #A46456;
    font-size: 3rem;
    padding-bottom: .5rem;
}

.input-text {
    height: 42px;
    width: 100%;
    border-radius: 8px;
    border: none;
    border: 1px solid rgb(211, 211, 211);
    padding: 1rem;
}

.nav-container-mobile-version {
    display: flex;
    align-items: center;
}

.nav-container-desktop-version {
    display: none;
}

.mobile-header-buttons {
    width: 24px;
    height: 24px;
    background-color: #606060;
    margin: .5rem;
    border-radius: 50%;
}

.burger-menu {
    font-size: 3rem;
    color: #A46456;
}

.show-mobile-nav-menu {
    top: 8vh;
}

.mobile-nav-menu {
    position: absolute;
    left: 0;
    background-color: #FFF;
    width: 100vw;
    height: 92vh;
    padding: 4rem 0;
    transition: .5s ease;
    z-index: -1;
}

.hide-mobile-nav-menu {
    top: -100vh;
}

.mobile-nav-list {
    list-style: none;
}

.mobile-nav-item {
    padding: 2rem 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}

/*-------------------------------HERO SECTION---------------------------*/

.hero {
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    margin: 2rem 0;
    max-width: 1350px;
}

.hero-image {
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cta-container {
    position: relative;
    height: 300px;
}

.costuras,
.criativas {
    font-family: 'Six Caps', sans-serif;
    color: #A46456;
    font-size: 7rem;
    line-height: 7rem;
}

.costuras {
    transform: rotate(270deg);
    position: absolute;
    left: -4rem;
    top: 5rem;
}

.criativas {
    position: absolute;
    left: 6.5rem;
    color: #FFF;
    text-shadow: -1px -1px 0 #A46456, 1px -1px 0 #A46456, -1px 1px 0 #A46456, 1px 1px 0 #A46456;
    top: 1rem;
}

.cta-container p {
    position: absolute;
    top: 9rem;
    left: 7rem;
    font-size: 12px;
}

.cta-container button {
    background-color: #A46456;
    position: absolute;
    top: 16rem;
    height: 42px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

/*-------------------------------CATEGORIES--------------------------------*/

.categories-section {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: #272727;
    color: white;
    padding: 2rem 0;
}

.title {
    font-size: 2rem;
}

.categories-container {
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
}

.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 15px;
    margin: 1rem auto 0 auto;
    max-width: 450px;
}

.category-item {
    background-color: #606060;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    height: 150px;
}








/*-------------------------------PRODUCTS--------------------------------*/

.bg-content-section {
    padding: 2rem 0;
}

.product-tabs {
    padding: 2rem 0 2rem 0;
}

.product-tabs ul {
    height: 42px;
    margin: 0 auto;
    max-width: 450px;
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
}

.category-tab,
.filter-tab {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.products-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: 0 auto;
    gap: 10px;
}

.product-item {
    border: 1px solid #d5d5d5;
}

.product-thumb {
    background-color: grey;
    height: 140px;
    width: 100%;
}

.product-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name, .product-price {
    margin: .5rem 1rem;
}

.product-name {
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize
}

.product-price {
    font-weight: bold;
}

.page-buttons-container {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

.page-buttons {
    background-color: #A46456;
    border: none;
    margin: 0 .5rem;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #FFF;
}

/*------------------------------------------FOOTER--------------------------------------*/

.footer-section {
    padding: 2rem 0;
}

.newsletter-form div {
    display: flex;
}

.newsletter-form label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.newsletter-form input {
    width: 300px;
    border-radius: 8px 0 0 8px;
}

.newsletter-form button {
    height: 42px;
    width: 6rem;
    background-color: #A46456;
    border: none;
    border-radius: 0 8px 8px 0;
    color: #FFF;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/
}

.footer-content {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-content h3 {
    font-size: 18px;
}

.footer-content p {
    font-size: 14px;
}

.privacy-policies, .socials {
    width: 200px;
}

.privacy-policies h3,
.socials h3 {
    text-transform: capitalize;
    margin: 1rem 0;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 32px;
    height: 32px;
}



/*--------------------------------------
/*--------------------------------------
/*--------------------------------------
ABOUT PAGE
/*--------------------------------------
/*--------------------------------------
/*--------------------------------------*/

.bg-about-page {
    background-color: #606060;
    height: 400px;
    width: 100vw;
    position: relative;
    left:calc(-50vw + 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 2rem;
}

.about-title, .about-text {
    max-width: 700px;
    margin: 0 auto;
}

.about-title {
    margin-bottom: 1rem;
}

.about-text {
    line-height: calc(1rem * 1.5);
    margin-bottom: 1rem;
    text-indent: 1rem;
}





/*--------------------------------------
/*--------------------------------------
/*--------------------------------------
USER PAGE
/*--------------------------------------
/*--------------------------------------
/*--------------------------------------*/

.user-bio-container {
    display: flex;
    align-items: center;
}

.user-bio-thumbnail {
    width: 100px;
    height: 100px;
    background-color: #606060;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-bio-container p {
    color: #A46456;
}

.user-data-container {
    margin-top: 3rem;
}

.user-data {
    padding: .5rem 0;
}

.user-data h3,
.user-data p {
    font-size: 1rem;
}







@media (max-width: 359px) {
    
    .costuras,
    .criativas {
        position: static;
        font-size: 23vw;
        line-height: 4rem;
        display: inline;
    }

    .costuras {
        transform: rotate(0);
        margin-right: .5rem;
    }

    .cta-container p {
        position: static;
        margin: 1rem 0;
    }

    .cta-container button {
        position: static;
    }
}

@media (min-width: 390px) {

    .hero-container {
        width: 100%;
    }

    .hero-image {
        max-width: 240px;
    }

    .costuras,
    .criativas {
        font-size: 8rem;
    }

    .costuras {
        left: -5rem;
        top: 4rem;
    }

    .criativas {
        top: -1rem;
    }

    .cta-container {
        font-size: 14px;
        width: 350px;
        margin: 0 auto;
    }

    .cta-container p {
        top: 8rem;
    }
}

@media (min-width: 500px) {

    /*.hero {
        height: unset;
    }*/

    .hero-image {
        width: 240px;
    }

    .hero-container {
        margin: 0 auto;
    }
}

@media (min-width: 720px) {

    /*.hero {
        height: calc(100vh - 8rem);
    }*/

    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        margin: 6rem 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 300px;
    }

    /*CATEGORIES*/
    .categories-list {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 640px;
    }

    /*PRODUCTS*/

    .bg-content-section {
        position: relative;
        left: calc(-50vw + 50%);
        background-color: #F5EFEC;
        width: 100vw;
    }

    .content-container {
        background-color: #FFF;
        margin: 0 auto;
        padding: 4rem 2rem;
        width: 90%;
    }

    .products-list {
        max-width: 600px;
    }

    .product-thumb {
        min-height: 250px;
    }

    /*USER PAGE*/
    .user-page {
        margin: 0 auto;
        width: 600px;
    }

    .user-data {
        display: flex;
    }

    .user-data h3 {
        width: 40%;
    }

}

@media (min-width: 920px) {

    /*HEADER*/

    .nav-container-mobile-version {
        display: none;
    }

    .nav-container-desktop-version {
        display: initial;
    }

    .nav-menu-list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav-menu-item, .nav-menu-buttons {
        padding: 0 1rem;
        text-transform: capitalize;
        height:32px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    .nav-menu-item::after {
        position: absolute;
        background-color: #A46456;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        content: "";
        transition: .1s ease;
    }

    .nav-menu-item:hover::after {
        width: 100%;
    }

    .header-buttons {
        width: 32px;
        height: 32px;
        background-color: #606060;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    /*PROFILE MENU*/

    .dropdown-profile-menu-container {
        position: absolute;
        width: 250px;
        background-color: #FFF;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
        top: 100%;
        right: 0;
    }

    .dropdown-user-profile-container {
        display: flex;
        padding: 1rem;
    }

    .dropdown-user-thumbnail {
        background-color: #606060;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: .5rem;
    }

    .dropdown-menu-list {
        list-style: none;
    }

    .dropdown-menu-list-item {
        padding: 1rem;
    }



    /*CART MENU*/

    .cart-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        top:0;
        left: 0;
        z-index: 2;
    }

    .cart-menu {
        position: absolute;
        width: 600px;
        height: 100vh;
        background-color: #FFF;
        z-index: 2;
        right: 0;
        padding: 3rem 1.5rem;
    }

    .cart-menu div {
        display: flex;
    }

    .close-cart {
        width: 24px;
        height: 24px;
        background-color: #606060;
        margin-right: .5rem;
    }

    .cart-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin: 2rem 0;
        height: 400px;
        overflow-y: scroll;
    }

    .cart-item {
        height: 120px;
        padding: 10px;
        display: flex;
    }

    .cart-item-active {
        border: 1px solid #606060;
    }

    .cart-item-thumbnail {
        height: 100px;
        width: 100px;
        background-color: #606060;
    }

    .cart-item-description {
        flex-grow: 1;
        position: relative;
        padding: 0 .5rem;
    }

    .cart-item-delete {
        position: absolute;
        background-color: #606060;
        width: 24px;
        height: 24px;
        right: 0;
        top: 0;
    }

    .cart-item-price {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .total-price {
        justify-content: space-between;
    }

    .cart-menu button {
        height: 42px;
        width: 320px;
        margin: 2rem auto;
        background-color: #A46456;
        color: #FFF;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    }

    /*HERO*/

    .hero-container {
        margin: 3rem 0;
    }

    .hero-image {
        max-width: 400px;
    }

    .costuras,
    .criativas {
        font-size: 9rem;
        line-height: 6rem;
    }

    .costuras {
        left: -5.3rem;
    }

    .criativas {
        left: 7.5rem;
    }

    .cta-container {
        width: 400px;
    }

    .cta-container p {
        top: 7.5rem;
        left: 8rem;
        font-size: 15px;
        line-height: calc(15px * 1.5);
    }

    /*PRODUCTS*/

    .content-container {
        max-width: 1350px;
    }

    .products-list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 10px;
        max-width: 900px;
    }

    .bg-content-section {
        position: relative;
        left: calc(-50vw + 50%);
        background-color: #F5EFEC;
        width: 100vw;
    }

    .content-container {
        background-color: #FFF;
        margin: 0 auto;
    }

    .product-item {
        height: 350px;
    }

    .product-thumb {
        height: 200px;
    }

    /*FOOTER*/
    .footer-section {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 2rem;
        max-width: 1350px;
    }

    .footer-content {
        width: 100%;
        max-width: 50%;
        padding: 0;
    }

    .privacy-policies h3,
    .socials h3 {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    /*HERO*/
    .costuras,
    .criativas {
        font-size: 11rem;
    }

    .costuras {
        left: -5.4rem;
        top: 5.5rem;
    }

    .criativas {
        left: 10.5rem;
    }

    .cta-container {
        width:500px;
    }

    .cta-container p {
        top: 8rem;
        left: 11rem;
    }

    .cta-container button {
        right: 0;
        width: calc(100% - 10.5rem)
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 450px;
    }
}

@media (min-width: 1240px) {
    /*HERO*/
    .costuras,
    .criativas {
        font-size: 14rem;
    }

    .costuras {
        left: -8.4rem;
        top: 7rem;
    }

    .criativas {
        left: 12rem;
    }

    .cta-container {
        width:600px;
    }

    .cta-container p {
        top: 11rem;
        left: 12rem;
        font-size: 18px;
        line-height: calc(18px * 1.5);
    }

    .cta-container button {
        top: 20rem;
        right: 0;
        width: calc(100% - 12rem)
    }

    .hero-image {
        left: 0;
        transform: translateX(0);
        width: 100%;
        max-width: 500px;
    }

    .hero-container {
        margin: 0;
    }
}